[2021-04-22 23:09] StanBarrows opened #2 "Not able to interact with the component"
HeyHey, Cool package you have there. Excited to test it out!

I just ran into a problem but I'm not able to solve it. I've livewire alrdy preinstalled and just added the component like you mentioned within the docs.

After I hit the start page, I can see the overlay but can not close or interact with it. Any ideas?

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/10268

[2021-04-23 04:01] nathanheffley opened #3 "Closing Spotlight during dependency search doesn't reset flow"
I am not sure if this is intentional, but I found it somewhat confusing that if I created a command with dependencies (something simple like in the readme), if I closed the Spotlight element while it was prompting me to search for a dependency, the next time I opened the spotlight (unless there had been a full page reload) it would still be asking me to search for the dependency, and then only way

[2021-04-23 07:02] PhiloNL commented on #2
Hey Stan,
Thanks for trying Spotlight 😄

Do you get any errors in your browser console? Seems like a Javascript issue.

Thanks!

[2021-04-23 07:43] felixsc opened #4 "add x-cloak to remove loading flash"
I first want to thank you @PhiloNL for this amazing package!

**Problem**
I'm seeing the spotlight component flash up occasionally before its `display: none` seems to be applied.

**Proposed solution**
Add x-cloak to the component, [as it is best practice](https://github.com/alpinejs/alpine#x-cloak) in Alpine

Should you not want this, is there a way to publish the view files of the spotlight comp

[2021-04-23 08:19] PhiloNL commented on #4
Thanks @felixsc 🙏  I'm super happy to hear you like it.
That should definitely be on the component, completely forgot to add it 🙈
Should be fixed now 😄

- https://github.com/livewire-ui/spotlight/releases/tag/0.1.3
- https://github.com/livewire-ui/spotlight/blob/0.1.3/CHANGELOG.md

[2021-04-23 08:20] #4 closed

[2021-04-23 08:23] PhiloNL commented on #3
Hey @nathanheffley, thanks for the feedback. That can indeed be confusing and I agree it's more intuitive to reset when the element is closed so a user doesn't get stuck in that flow and is forced to reload the page. I've just released an update to reset the state if the component is closed 😄

- https://github.com/livewire-ui/spotlight/releases/tag/0.1.3
- https://github.com/livewire-ui/spotlight/

[2021-04-23 08:23] #3 closed

[2021-04-23 08:27] felixsc commented on #4
Awesome! Thanks for the quick response 👍

[2021-04-23 09:16] PhiloNL commented on #2
I see I have forgotten to mention that AlpineJS is a dependency. So this might be missing which is breaking the Javascript.

CDN:
`<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>`

NPM:
`npm i alpinejs`

[2021-04-23 10:05] felixsc opened #5 "[question] use command dependencies for model creation"
Is it possible to use the input of a SpotlightCommandDependency to create a new model instead of searching for one?

**What I'm trying to do**
I would like to start with a spotlight command that opens a text input like it does now. But instead of using the input of the dependency as a search query and returning models, I'd just take the string and create a new model.

Start pretty much as it is no

[2021-04-23 11:32] PhiloNL commented on #5
It's not possible right now, but this use case has crossed my mind. I didn't end up needing this functionality at that moment but it can definitely be quite powerful. I'll take a look at this. Thanks for the feedback 😄

[2021-04-23 12:58] PhiloNL commented on #5
So not sure if this fully covers your use case but you can now define the dependency type like this 😄

[code]

It does not call a method at the moment after an "INPUT" dependency is submitted. But you can use the dependency in the execute method:

[code]

[2021-04-23 14:09] #5 closed

[2021-04-23 14:25] StanBarrows commented on #2
That was the trick! =) Thank you

[2021-04-23 15:36] ksassnowski opened #7 "Missing Tests"
First of all, dope project!

Would you be open to a PR or two to start adding tests for the existing functionality?

[2021-04-23 18:09] felixsc commented on #5
It works perfectly. I can now do exactly what I wanted.

Thank you, Philo!

[2021-04-23 18:39] PhiloNL commented on #7
Thanks! 😄  Adding tests is on my list but feel free to open a PR, appreciate the help 🙌

[2021-04-23 18:40] PhiloNL commented on #2
Great! 😄

[2021-04-23 18:40] #2 closed

[2021-04-23 19:43] ksassnowski commented on #7
I opened a PR (#8) to add a basic test suite :)

[2021-04-23 21:06] vinhais opened #9 "Commands specific to a route"
Hi,
It would be interesting to have something that allows some commands to appear only on one route, for example:

Command 1 -> all
Command 2 -> dashboard
Command 3 -> profile.*

[2021-04-23 21:14] PhiloNL commented on #9
Hi,

That's possible, by conditionally registering commands. For example:

[code]

[2021-04-23 21:14] #9 closed

[2021-04-23 21:14] vinhais commented on #9
Through config, is it not possible?

[2021-04-23 21:16] PhiloNL commented on #9
@vinhais nope, you will have to register the commands in your `AppServiceProvider` for example when using this syntax.

[2021-04-23 22:52] ryangjchandler opened #10 "Shortcut arguments"
I think it could be cool for shortcuts to accept arguments.

An example might be a shortcut to visit a particular user profile, where the shortcut would be `Visit user` - hitting enter would allow you to enter some sort of identifier, I.e. username or email and then that would be made available to the shortcut handler.

[2021-04-24 09:06] PhiloNL commented on #10
Hey @ryangjchandler

Thanks for the suggestion! I'm not sure I completely understand. Commands support dependencies, so your example would be something like:

[code]

Is this what you are looking for, or did you mean something else? 😄

[2021-04-24 09:59] #10 closed

[2021-04-24 10:00] ryangjchandler commented on #10
Yeah that covers it. The word dependency kind of threw me off...

[2021-04-24 19:21] Krato opened #12 "Bootstrap styles"
Hello!

First again, thanks for this amazing tool!

I love tailwind but for an admin project I choose a Boostrap dashboard theme. How can I customize the style? Yes, I can use `include_css`. option. But This styles are failing for some views.

Can be possible to add ids to the divs? Then we will be able to override the styles. Or, other idea?

Thank you!

[2021-04-24 22:52] adddz opened #13 ""Invalid argument supplied for foreach()" on composer require"
Amazing package, first of all! 👏

I've tried installing the package in a fresh new Laravel project and it works fine.
The issue is with an existing Laravel project, `composer require` returns this error. Any ideas? Thank you!

[code]

[2021-04-24 23:44] adddz commented on #13
Found the solution. For anybody having this issue, it's related to the config cache. Remove the package, run `php artisan config:clear` and install the package again.

[2021-04-24 23:44] #13 closed

[2021-04-25 07:44] afiqiqmal opened #14 "Alpine JS class error in 7.4"
I received this error,

[code]

I'm using tag "dev-php-7.4-support"

How to solve this?

[2021-04-25 16:28] PhiloNL commented on #14
Hi @afiqiqmal,
Which version of Alpine are you using? And how are you loading Alpine (via NPM or CDN) and are you loading Alpine before/after Livewire? Some more code would help as well.

[2021-04-25 18:53] afiqiqmal commented on #14
Im using webpack as alpine is placed in app.js

[code]

as in blade file

[code]

I also tried to load using CDN
https://raw.githubusercontent.com/alpinejs/alpine/master/dist/alpine.js

Also give same error message

[code]

[2021-04-25 19:26] afiqiqmal commented on #14
Found the issue.

This package "https://github.com/renatomarinho/laravel-page-speed" cause the error.

![Screenshot 2021-04-26 at 3 25 32 AM](https://user-images.githubusercontent.com/9051312/116006742-1deaa700-a63f-11eb-987f-7bb2541c860c.png)

If exiting tailwind using prefix, then the spotlight would not working

[2021-04-25 21:33] #14 closed

[2021-04-26 13:43] vinhais commented on #12
A good idea would be an option to publish the Spotlight view.

[2021-04-26 14:03] PhiloNL commented on #12
You can publish the view if you want with `php artisan vendor:publish --tag=livewire-ui-spotlight-views`. Given the release is not 'stable' yet, be sure to keep track of any changes in new releases since the view may be modified.

I'll take a look and see if I can find a way to fix this. Adding id or class properties might be the way to go.

[2021-04-27 07:37] adddz opened #16 "Can't access auth()->user() in AppServiceProvider boot()"
The documentation mentions that you can register the command in the `boot()` method of the `AppServiceProvider` file.

[code]

This is not working because `$user` or `auth()->user()` cannot be accessed during the `boot()` method.

Any ideas on how to conditionally register commands based on the user?

[2021-04-27 11:11] PhiloNL commented on #16
Hi @adddz,

That's correct, there's a PR to resolve this and will be available soon https://github.com/livewire-ui/spotlight/pull/15

[2021-04-27 13:17] PhiloNL commented on #16
Hi @adddz
You can now use the `shouldBeShown` method to do this:

- https://github.com/livewire-ui/spotlight/releases/tag/0.1.7
- https://github.com/livewire-ui/spotlight/blob/master/CHANGELOG.md

[2021-04-27 13:17] #16 closed

[2021-04-27 16:58] erikgaal opened #17 "Allow to use fuse.js from build instead of CDN"
At this moment, `fuse.js` is included with Spotlight through the jsDelivr CDN. Some users might prefer to include these assets through their own build process.

As a sidenote, `fuse.js` isn't locked to a specific version at this moment which might cause uninteded breaking changes.

https://github.com/livewire-ui/spotlight/blob/ceb4005ee817b64ebf86526d2b0706ea6b4227ba/resources/views/spotlight.blad

[2021-04-28 06:51] adddz commented on #16
Thank you so much! Could you please port this feature to the PHP 7.4 version as well, please?

[2021-04-28 12:44] PhiloNL commented on #17
Thanks @erikgaal 😄
Coming up in the next release: https://github.com/livewire-ui/spotlight/pull/19

[2021-04-28 13:51] PhiloNL commented on #17
Now available, also locked the dependency 👌

[2021-04-28 13:51] #17 closed

[2021-05-03 20:36] cntabana opened #20 "syntax error, unexpected '|', expecting ';' or '{'"
Hi @PhiloNL,

thank you for this package,

I am facing this error when I am trying to upload to the live server on forge.

![spotlight_Error](https://user-images.githubusercontent.com/6320126/116929168-f787c580-ac55-11eb-80c7-f8712bc20daa.png)

I am using Laravel 8, PHP 8.0 and spotlight 0.1.8

I have tried everything but none worked

[2021-05-06 16:14] cntabana commented on #20
The issue is fixed.

[2021-05-07 09:16] #20 closed

[2021-05-09 18:30] indykoning opened #21 "Feature request: Autosuggestion dependency type"
It would be really nice to have a way to provide autosuggestions to dependencies like the default search type does.
But also have it possible to continue typing and have it act as an input type where you just get the typed text back.

[2021-05-11 15:30] ekandreas opened #22 "shouldBeShown"
The documentation tell us to use `shouldBeShown` but it is really working?

[2021-05-17 17:53] Braunson opened #23 "Ability to dynamically set default placeholder"
It would be great to be able to dynamically set the placeholder to morning/afternoon/evening or even based on user-type OR to include the user's name. If there's interest, I can put in a PR.

[2021-05-19 09:06] PhiloNL commented on #22
Yes it works.

[2021-05-19 09:06] #22 closed

[2021-05-19 09:07] PhiloNL commented on #21
Thanks for the feature request @indykoning
Would you mind providing a bit more details with an example use case written in detail so I can get a better understanding on what you are looking for.

[2021-05-19 09:23] ekandreas commented on #22
But not in the 7.4-branch :-(

[2021-05-19 17:16] indykoning commented on #21
In my case i'd like to make a list of named commands to run on a server.
In this case the search dependency would be perfect.
However i also want to be able to run commands that i have typed out fully myself as well. This would require the input dependency.

what i'm thinking of is a search field where the top result is what you typed and is not actually a record in the database.

[2021-05-20 19:30] Braunson opened #24 "Styling weird when running `npm run prod`"
I'm already using Tailwind on a project so the config is set to `false` to include Tailwind. However when I run `npm run dev` and open Spotlight, it looks fine (the black popup, aligned center, etc).

It's when I run `npm run prod` is when the styles and positioning get funky. Here's what it looks like (aligned to the top of the page)

![image](https://user-images.githubusercontent.com/577273/1190

[2021-05-25 13:20] PhiloNL commented on #24
Hi @Braunson,
My guess is that the CSS classes are purged. You can fix this by including the view in the purge section:

[code]

Let me know if that works 😄

[2021-05-25 13:27] Braunson commented on #24
@PhiloNL Works, thank you!

[2021-05-27 13:10] quarterdeck opened #25 "Safari tries to fill username"
<img width="554" alt="Screenshot 2021-05-27 at 13 51 26" src="https://user-images.githubusercontent.com/56797103/119831457-34617800-bef5-11eb-913e-5ccd533207bb.png">

[2021-05-28 09:17] quarterdeck commented on #25
Upon further investigation this seems like an absolutely crazy Safari bug and I'm not sure if it can be worked around or not.

I noticed that this was only happening on one page of our app. So I systematically commented out each section of HTML to see if any block was affecting it and I found one!

I narrowed it down to a single <p> tag which contained the text "Welcome back,". I thought the comma

[2021-05-28 09:43] quarterdeck commented on #25
On further consideration I don't think it's a bug. I think Safari is assuming any page with "Welcome Back" on it is a login page and enabling this behaviour. Therefore I think it's intended.

[2021-05-28 10:05] laurensgroeneveld commented on #25
I can confirm, created a HTML page with just a `p` and an `input`:

[code]

This does indeed show a password option if I open this in Safari and focus the input:

<img width="169" alt="image" src="https://user-images.githubusercontent.com/39056299/119967569-c7a9b480-bfac-11eb-9e79-ec510ac70b3a.png">

Curiously enough, adding a `style="display: none;` to the `p` does no longer show the password dro

[2021-05-28 10:21] quarterdeck commented on #25
Nice one. I found that using a non-breaking space prevents the behaviour.

[code]

[2021-05-28 10:36] infostreams commented on #25
LOL 😂 Make sure to add a comment (with a link) to your code to document why that ```&nbsp;``` is there. I'm sure someone would just accidentally remove it otherwise.

[2021-05-28 10:52] val-o commented on #25
It seems the same applies to "Sign In"
![image](https://user-images.githubusercontent.com/9393189/119973198-02bfde00-bfd5-11eb-8a8f-0d0bb5986578.png)

[2021-05-28 13:08] mattijv commented on #25
"Log in" works too. I tried a couple other languages (Finnish, German, French, Chinese) but the issue/feature seems to only happen with English (although I did use Google Translate, so I can't guarantee I used the right idioms).

[2021-05-28 13:11] chrisvasey commented on #25
This bug is top of hacker news right now, there have been a lot of comments around why this is [here](https://news.ycombinator.com/item?id=27313284).

[2021-05-28 14:25] IThinkImOKAY commented on #25
Maybe welcome back causes safari to think you are being welcomed back to the website and would like to sign back in?

[2021-05-28 21:50] 2sh opened #26 "Let walking depend on time, not frame rate"

[2021-05-28 21:52] 2sh commented on #26
sorry, wrong repo

[2021-05-28 21:52] #26 closed

[2021-05-30 14:41] elstgav commented on #25
Does it respect `autocomplete=“off”`? You may be able to disable it with some form of [the autocomplete attribute](https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion) 🤔

[2021-05-31 02:46] danpalmieri opened #27 "Show all commands and them filter"
There is possible to show all available commands when spotlight is open and them filter when the user writes?

[2021-06-02 07:18] PhiloNL commented on #27
Hi @danpalmieri
At the moment, this is not possible, but feel free to add a PR to support this as an option.

[2021-06-02 07:18] #27 closed

[2021-06-05 12:53] PhiloNL commented on #25
Interesting issue 🤓 feel free to continue the discussion.
I am closing the issue as it's not related to Spotlight.

[2021-06-05 12:53] #25 closed

[2021-06-11 10:03] ekandreas opened #28 "Alpine 3"
We are all waiting for Alpine3 compability...

[2021-06-13 10:26] PhiloNL commented on #28
@ekandreas feel free to create a PR.

[2021-06-13 10:26] #28 closed

[2021-06-13 10:26] #12 closed

[2021-06-18 03:49] afiqiqmal opened #29 "AlpineJS 3 Support"
Spotlight not working with alpinejs 3

[code]

[2021-06-18 11:40] PhiloNL commented on #29
Work in progress https://github.com/livewire-ui/spotlight/pull/30

[2021-06-18 11:40] #29 closed

[2021-06-30 10:58] Restingo opened #32 "Feature Request: Add bootstrap styling"
Add bootstrap theme for styling.

[2021-06-30 15:27] PhiloNL commented on #32
Hi @Restingo,
Have you tried setting `include_css` to `true`? This will include the required CSS for Spotlight and should work with other CSS frameworks like Bootstrap.

[2021-06-30 15:30] Restingo commented on #32
Hi @PhiloNL, thanks for your fast reply! I've tried it but it destroys my template (I'm using AdminLTE from https://github.com/jeroennoten/Laravel-AdminLTE) because it includes Normalize.css I think?

[2021-06-30 20:45] Restingo commented on #32
![image](https://user-images.githubusercontent.com/84022569/124028902-d1cc3200-d9f4-11eb-9845-180e7dd165a9.png)

Left side is without css, right side is with css.

[2021-07-01 18:36] Restingo commented on #32
@PhiloNL any idea?

[2021-07-02 13:23] TechTailor commented on #32
Would also appreciate a way to enable/add custom css styling.

[2021-07-02 19:20] SimonBarrettACT opened #33 "Alpine Error: "SyntaxError: Unexpected token '}'""
I'm running v1.0.0 of Spotlight and have implemented the example logout command.

When typing 'Logout', the dropdown does not appear and the following error is sent to the console:

[code]

Spotlight v0.1.8 does not exhibit this behaviour.

I'm using:

Livewire v2.5.1
Alpine v3.2.1
Laravel v8.49.1

Love the component and will be using it in several projects.
Thanks

[2021-07-03 22:15] fefo-p commented on #33
Same here, though the output in my case has line number differences:
[code]

Is there any other useful info that I can provide?
Please let me know

[2021-07-04 06:47] SefionITServices opened #34 "Invalid argument supplied for foreach()"
Error at : SpotlightServiceProvider.php:35

Error:
[code]

[2021-07-04 15:47] PhiloNL commented on #33
Hi both,

Thanks for trying Spotlight.
Unfortunately, I'm unable to replicate this error using the exact same versions of Laravel, Livewire, and Alpine (fresh install).
I can further investigate but this will require you to set up a demo repository that replicates the issue.

[2021-07-04 15:47] #33 closed

[2021-07-04 15:49] PhiloNL commented on #34
Unable to replicate.

[2021-07-04 15:49] #34 closed

[2021-07-04 21:57] fefo-p commented on #33
Maybe it makes a difference  mentioning that I'm using Laravel with Jetstream, Tailwind (JIT mode), AlpineJs, Livewire, & Laravel/permissions?
I mention this as maybe the difference is on how the app.css & app.js get compiled... don't know.

My webpack.mix.js is like the following, updated to use JIT
[code]

[2021-07-05 09:26] PhiloNL commented on #33
Hi @fefo-p
I would recommend creating a fresh installation of Laravel, install Spotlight, verify that it is working, next, add each dependency step by step and see if Spotlight breaks to figure out what is causing the issue. I'm using Spotlight with Jetstream and Tailwind as well without any issues.

[2021-07-05 11:32] fefo-p commented on #33
Will do, Thanks @PhiloNL

[2021-07-05 13:45] jouniikaheimo opened #35 "i got lot off erros if command not found"
<img width="635" alt="kuva" src="https://user-images.githubusercontent.com/32259223/124480792-4f56c000-ddb0-11eb-9f5d-92990fb3ff91.png">

[2021-07-06 14:20] PhiloNL commented on #35
Need more information.

[2021-07-06 14:20] #35 closed

[2021-07-21 09:06] usernotnull opened #36 "Clicking on action with further dependencies"
**Logout**
Since logout has no dependencies, pressing enter or clicking is the same.

**View User**
Since "View User" command has dependencies, I'm expecting when clicking with the mouse to proceed to that dependency asking the user name. Currently, mouse-clicking on "View User" only closes the dialog with no further action. It works properly when pressing enter, but I'm expecting ENTER and Mousec

[2021-07-21 21:02] philipmclifton commented on #33
Did you resolve this issue, I am seeing the same thing.

[2021-07-22 10:00] fefo-p commented on #33
Unfortunately no, haven't had the time

[2021-08-17 10:51] sandy15d opened #38 "Target [Illuminate\Contracts\Auth\StatefulGuard] is not instantiable."
`<?php

namespace LivewireUI\Spotlight\Commands;

use Illuminate\Contracts\Auth\StatefulGuard;
use LivewireUI\Spotlight\Spotlight;
use LivewireUI\Spotlight\SpotlightCommand;

class Logout extends SpotlightCommand
{

    protected string $name = 'Logout';
    protected string $description = 'Logout out of your account';
    public function execute(Spotlight $spotlight, StatefulGuard $guard): void

[2021-08-17 12:36] sandy15d opened #39 "RegisterCommandIf Not working"
` public function boot()
    {

       Spotlight::registerCommandIf(Auth::check() && Auth::user()->role == 'A',Logout::class);
    }`

[2021-08-18 11:40] PhiloNL commented on #39
@sandy15d please use the `shouldBeShown` method on the command when working with dependencies that need to be resolved:

[code]

More info: https://github.com/livewire-ui/spotlight#register-commands

[2021-08-18 11:40] #39 closed

[2021-08-18 11:42] PhiloNL commented on #38
Works just fine here.

[2021-08-18 11:42] #38 closed

[2021-08-18 15:32] sandy15d commented on #38
but when i click on logout this kind of error arrives

Target [Illuminate\Contracts\Auth\StatefulGuard] is not instantiable.

[2021-08-19 19:46] PhiloNL commented on #38
Not sure, if you create a fresh installation of Laravel with Spotlight installed, reproduce the problem and share this via a Github repository I can take a look.

[2021-08-20 06:14] blhi-jed opened #40 "Search dependency - prevent active search"
Awesome package by the way!

I made one with a dependency where users are able to enter a keyword search through thousands of row table. however since this is an active search, as expected, memory issues are encountered each time a user types.

Is there a way to prevent active-search and only triggers on-Enter?
or something similar to Livewire's defer property?

[2021-08-23 16:55] mrpritchett commented on #33
I'm also getting this issue. Trying to dig in now.

[2021-09-09 07:13] dhruva81 opened #41 "Spotlight is not reaching to 'execute' method. (404)"
Hi

I have read complete documentation and also I read tutorial blog post.

I tried using all steps mentioned in your documentation but this package is not working on final 'execute' method step in my application :(

I am able to open spotlight using shortcut command 'CTRL + K' and able to search users.

But when I select any user and press enter, I am receiving 404.

The method 'execute' never ca

[2021-09-24 21:54] Braunson opened #42 "Issue with resolution of models with two words"
In this case, this is my example spotlight command:

[code]

When diving deeper into the logic that calls the `execute` method, it's returning `crash course` with a space. I've tried multiple forms `$crash_course`, `$CrashCourse`, $crash_Course` and nothing seems to work here.

If I dump out the dependencies from Livewire's `ImplicitlyBoundMethodClass` I get this.

[code]

[2021-09-26 18:35] vlados opened #43 "How I can add multiple (bulk) actions"
If I want to bulk add multiple actions to the search and to have one class how to do it?
For example:
- I have multiple services but I want all of them to be added to the initial spotlight
- On select of any of the service to redirect to the page of the service

[2021-09-27 07:31] PhiloNL commented on #43
You could do something like this:

[code]

[2021-09-27 08:08] vlados commented on #43
Yes. But this will add a command Navigate to and then search for page.
I want the initial spotlight to have all this pages as commands

[2021-09-27 08:16] PhiloNL commented on #43
Not tested but this might work:

[code]

[code]

[2021-09-29 19:36] #43 closed

[2021-10-05 08:01] PhiloNL commented on #42
I think everything should work if you change the variable names to one word:

[code]

[2021-10-05 08:06] PhiloNL commented on #41
Could you post the XHR request details (route, request headers, response headers, etc) from your developer tools?

Thanks!

[2021-10-05 14:34] Braunson commented on #42
Thanks @PhiloNL, not sure why I realize that. Cheers!

[2021-10-05 14:34] #42 closed

[2021-10-26 22:43] seabasss opened #44 "Close already open modals when a new modal opens with Spotlight?"
This is really cool!

I'm trying it out with modals and it works pretty well, but is there any way to close all other modals if I open a new one with Spotlight? This didn't work:

[code]

Also, is there any way to change the standard `Logout out of your account` to `Log out of your account`.

Edit // I guess I can just re-create that class in my Spotlight folder.

Thanks again, love it!

[2021-10-28 15:04] CristhoferMF opened #45 "Fuse is not defined"
![image](https://user-images.githubusercontent.com/36576423/139283411-2c579de0-4e31-4f3d-98d6-dd60a9159859.png)

[2021-10-28 16:35] seabasss opened #46 "Different Spotlight behavior depending on the page component?"
Is there any way to tell Spotlight what the page component is and cater the behavior to that?

An example. If I open Spotlight on my dashboard and type "New post" it should ask me what project I want to create the post for - great, but if I'm already inside a project, can this info be pre-populated somehow? E.g. can I tell Spotlight that it was opened on a project page and now assume that you want

[2021-10-28 19:15] #45 closed, assigned to nobody

[2021-10-28 20:33] CristhoferMF opened #47 "Update branch php7.4"
![image](https://user-images.githubusercontent.com/36576423/139331303-8507a132-16dc-4f1f-b3b2-0ff57a8bc2d3.png)

[2021-10-28 21:32] #47 closed, assigned to nobody

[2021-10-29 03:43] seabasss opened #48 "Feature Request: Option to trigger search on load"
Been sending a lot of feedback, but I really love this package :)

It would be cool if you could add an option to trigger the search automatically if wanted. So in addition to the `For which team do you want to create a user?` placeholder it would also perform a search and show all available Teams without you having to type anything. Not as default, but I could see it handy when there are only a f

[2021-10-31 00:26] thomasjohnkane opened #49 "Results not shown, but indigo border appears"
When search results are found, the indigo bottom border is shown, but no results are displayed. Pressing enter will trigger the first matching command.

<img width="619" alt="Screen Shot 2021-10-30 at 4 24 19 PM" src="https://user-images.githubusercontent.com/8945177/139561889-7fd094ff-0c04-437d-8279-eba7e5d2a4ce.png">

In the particular example, the registered commands are EditPolicy and ViewPoli

[2021-10-31 23:30] thomasjohnkane commented on #49
Works on a fresh install, must just be an issue with my Tailwind or Livewire version. Closing.

[2021-10-31 23:30] #49 closed

[2021-11-05 12:20] #46 closed

[2021-11-05 12:21] #48 closed

[2021-11-05 12:21] #32 closed

[2021-11-05 12:22] #23 closed

[2021-11-05 12:24] #21 closed

[2021-11-08 09:00] LTKort opened #58 "How to persist data while Spotlight is open?"
Hi,

Upon opening Spotlight & starting a command, I want to temporary store some data when when Spotlight is open.
In my case all the available Resources from Laravel Nova.

I can store some data when the page is opens, but after starting Spotlight & every keystroke after, the component refreshes and the data is lost.
My solution now is to store the data in the session, and flush it on execution,

[2021-11-08 20:51] PhiloNL commented on #58
Hi,

Would you mind explaining your use case? Maybe add some example code of how you would like things to work. Because I don't exactly understand what you are trying to achieve.

[2021-11-09 16:06] LTKort commented on #58
I want to call a function that retrieves data once, and I want to use this same data in the whole command.

For example:
[code]

On page load it executes once, when I select the command in spotlight it is executed, and on every keystroke after the function is executed.

I want to call it only once, store the data and use it through the whole SpotlightCommand.
Is there a way to do this ?

BTW, my u

[2021-11-09 16:24] LTKort opened #60 "Scoped dependency searching executes a query on every keystroke"
If I use the example;

[code]
It does a query every keystroke, is there a way to fix this?

[2021-11-09 22:06] Braunson commented on #22
@PhiloNL This is not working in the 7.4-branch, have confirmed this.

[2021-11-10 21:47] nam-co opened #62 "Suggestions on start"
Hi @PhiloNL , I got some ideas I hope you find them interesting

1. Function suggestion on open (some people prefer clicking than typing), this could be used to show for example: latest visited pages , last search or last used function
2. Be able to search on open (from the start), for example: show results of clients and invoices (keeping functions on the top)

Thanks for the package

[2021-11-25 00:54] Luigi-DV commented on #36
Hi Guys,

I think there is a AlpineJS **@click.out** mistake.

In order to manage the view in our project and as a consequence the style and classes of it, we need to follow the steps below:

  Publish the views:

`php artisan vendor:publish`

  This show a list like this:

_Which provider or tag's files would you like to publish?:
[0 ] Publish files from all providers and tags listed below
[X] Ta

[2021-11-25 05:44] usernotnull commented on #36
The only issue is the change of removing line `@click.outside="isOpen = false"`.

@Luigi-DV you want to submit the PR or do I do it?

[2021-11-25 05:55] usernotnull commented on #36
I resolved it by actually moving the alpine click to the gray background, to close on clicking, very simple.

[2021-11-25 08:16] Luigi-DV commented on #36
What if the user is in mobile? idk if it will work with another click event but in my case when I was in a mobile the modal closes on scroll.

Possibly my event selection mistake.

[2021-11-25 08:20] usernotnull commented on #36
@Luigi-DV tested on mobile, works fine 👍🏼

Concerning the issue with scrolling when the modal is open, you mean scrolling from search results or the main body element?
But that is a whole separate issue :)

[2021-11-25 08:22] Luigi-DV commented on #36
Yep, nice to heard we resolve this little bug. Hope it will helps others.

Have a nice day ☺️

[2021-11-25 12:28] ndijkstra opened #63 "Can't search on other fields then name"
If I have in my dependency a filter to search on name or email, I don't see any results in the spotlight if I search on the email address. I do see that the result is returned in the debug bar.

![Schermafbeelding 2021-11-25 om 13 27 33](https://user-images.githubusercontent.com/3372841/143441736-bdb43523-5473-43b8-bdb2-5df2fb6ebe27.png)
![Schermafbeelding 2021-11-25 om 13 27 10](https://user-imag

[2021-11-25 21:10] #63 closed

[2021-11-25 21:13] PhiloNL commented on #63
You can now add synonyms to your search dependencies as well. For example:

[code]

[2021-11-25 21:41] ndijkstra commented on #63
Awesome! Thanks for your quick response and change

[2021-11-26 04:57] usernotnull commented on #36
PR merged, closing issue.

[2021-11-26 04:57] #36 closed

[2021-12-02 15:54] cloudstudio opened #65 "Get input value as string"
Hey @PhiloNL hope you have a good day.

I have created a timetracker in livewire, why not use spotlight? just for fun :)

After creating the project, it asks me the name of the task, is there any way to get this string directly? The idea is to be able to create a new task.

`
/**
    public function dependencies(): ?SpotlightCommandDependencies
    {
        return SpotlightCommandDependencies::co

[2021-12-02 16:21] PhiloNL commented on #65
Set the dependency type to input 😄

[code]

[2021-12-03 14:33] modernben commented on #38
I'm getting this as well on a project that uses the laravel/ui package.

Laravel: 8.73.2
PHP: 7.4.26
Laravel UI: ^3.3

[2021-12-03 14:44] modernben commented on #38
I created my own and changed it to `auth()->logout()` and it works

[2021-12-03 14:55] sandy15d commented on #38
Hi Ben...

Pls Can you share full code if possible...

It will be very helpful for me

On Fri, 3 Dec, 2021, 8:03 pm Ben Miller, ***@***.***> wrote:

[2021-12-03 15:15] modernben commented on #27
Would love this as well. Got it kinda working but when I go to hit an option it treats it as a result.

[code]

[2021-12-03 18:06] modernben commented on #38
@sandy15d

[code]

Then update `config/livewire-ui-spotlight.php`

[code]

[2021-12-06 19:55] am-chris commented on #38
I also just ran into this issue after upgrading from Laravel 6 to Laravel 8 with the Laravel UI package.

[2021-12-07 18:15] devcircus opened #67 "Ability to customize Fuse search options"
### Issue
I've noticed that some of my search results aren't appearing in the spotlight search results. They're actually returned as ```dependencyQueryResults```, which can be confirmed in alpinejs devtools, but they don't make it through Fuse to appear in the spotlight result list. By default, Fuse places importance on the beginning of the field that is being searched. Since the match is towards

[2021-12-07 21:36] PhiloNL commented on #67
I will look into this, for now, using dependency synonyms should resolve the issue:
https://github.com/wire-elements/spotlight/issues/63#issuecomment-979471413

[2021-12-08 00:20] devcircus commented on #67
Ah thanks! Had not even thought about synonyms.

[2021-12-08 01:05] devcircus commented on #67
Ok, yeah I think there was a misunderstanding, maybe on my part, but I'm not searching for a command. I have a command that queries my database.

It searches the database based on my input, the returns results for me to choose from. It's just not showing all of the results that it should. If I change the fuse ```threshold``` to 0.6 from 0.3, or if I just set ```ignoreLocation: true```, then it ret

[2021-12-08 01:25] devcircus commented on #67
### Details
[code]

The ```searchArtOrder``` method actually returns all of the expected results. However, before the results are displayed in the view, they are filtered through Fuse, which removes some results. For instance, if the title is very long and the match occurs near the end of the title, Fuse ignore it.

eg. "This is a very long title that has the match that I am searching for located

[2021-12-08 01:26] devcircus commented on #67
Reopening to clarify with the details above. Will close later.

[2021-12-10 21:03] Luigi-DV commented on #62
Hi,

First of all you must implement the last visited pages storing in your project.

I you recommend to use Redis Connection for this functionality like this:

[code]

Function to get the last seen information:

[code]

You can then retrieve the last seen information on a user by calling the method as such:

[code]

I'm working on it and do PR I this next days.

[2021-12-17 13:03] pavlentij commented on #33
I had the same issue, but the problem was in the old Alpine.js version.
My application had v2.* and after the upgrade to v3.0 everything became working as it should.

[2021-12-19 19:59] pavlentij commented on #60
The simplest way is to add timeout before the searchDependency request.

You can do it by customizing spotlight.js file. Find lines from the line 25:

[code]

and replace it with:

[code]

After the changes the spotlight will make a request only after the 300ms and if you are typing a word then it will not do multiple requests for every single letter.

[2021-12-29 15:37] aitor72 commented on #67
Same "issue" here

[2022-01-27 13:31] nusoft commented on #33
@mrpritchett did you manage to solve this issue? I'm getting the same error

[2022-01-27 15:03] mrpritchett commented on #33
@nusoft It was an issue with versioning as described above. Once I updated to v3 of AlpineJS, everything worked fine.

[2022-02-15 07:09] rudolfbruder opened #69 "Automatic deployment and problem with css"
Hi,

I am trying this package out locally and it works flawlessly, however when we run automatic deployment on our server this is how it looks:

<img width="1536" alt="image" src="https://user-images.githubusercontent.com/56951790/154010382-5c97c7eb-7a88-4938-b6f3-326d73cd6264.png">

Showing the console takes whole screen like some css was not built. When I manually run npm run prod on the vps all

[2022-02-15 20:31] PhiloNL commented on #69
It seems that CSS classes are purged. Can you try and whitelist `'./vendor/wire-elements/spotlight/**/*.blade.php',` in your Tailwind CSS config?

[2022-03-09 08:04] rahmanramsi opened #73 "Target [Illuminate\Contracts\Auth\StatefulGuard] is not instantiable."
Laravel Version : 9

![image](https://user-images.githubusercontent.com/48276043/157398481-6db9fe82-33a7-481c-8226-9661d3cc8ca2.png)

Code :
![code](https://user-images.githubusercontent.com/48276043/157398556-9f81d9c2-59a0-47bf-8cd3-53945761ddac.png)

[2022-03-09 08:56] rahmanramsi commented on #73
I dont know that there's default Logout Command by package

[2022-03-09 08:56] #73 closed

[2022-03-09 09:23] marchampson opened #74 "Commands work but search gives console errors"
Love the package and sure this is something with my setup but I've tried a number of things and hit the same wall. When you search an indigo bar appears but it doesn't activate and the console fills with errors:
![image](https://user-images.githubusercontent.com/988694/157411812-896d8e97-01c9-45df-a28c-649cbe14de35.png)
I have alpine installed as a module, it was 3.2 and now 3.9.1 - alpine compone

[2022-04-14 00:54] kerynegan commented on #74
Hi @PhiloNL  - I'm having the same problem, though I'm using Alpine CDN.

My command (open a modal) does execute when I finish typing and hit enter, but it seems to be trying to execute every letter of the query as I type and throwing Console errors all the while.

Here's (an attempt at uploading) a gif screenshot in action.
![spotlight2](https://user-images.githubusercontent.com/35839424/16329232

[2022-04-21 20:54] PhiloNL commented on #74
I've tested this with 3.9.1 and it works. It might be related to the order, the following works for me:

[code]

[code]

[2022-04-26 08:42] rudolfbruder opened #75 "Langs support"
Hi,

Is there any way how to use laravel langs and their values in defining for the command name and description?

For me this does not work:
<img width="629" alt="image" src="https://user-images.githubusercontent.com/56951790/165259646-e987a4d8-7a90-4136-b99f-ca34d2473f56.png">

Thank you!

[2022-05-11 22:01] jacotijssen commented on #75
Instead of using the name property, you can use the `getName` method. So remove the `protected string $name = "..."` and replace it with something like this:

<img width="630" alt="Schermafbeelding 2022-05-12 om 00 01 05" src="https://user-images.githubusercontent.com/8997440/167954814-014f4b77-e1a5-4585-a43b-e442c03a3a98.png">

[2022-05-13 09:44] PhiloNL commented on #75
Haven't tested this but I think you can do:

[code]

[2022-05-24 10:18] sandy15d opened #78 "spotlight redirect to new tab"
how to perform redirection on new tab

 $spotlight->redirect('/admin/sentemails');
 this will redirect with same tab...
but i want to redirect with new tab

[2022-05-26 06:27] developerinvnr opened #79 "Change Placeholder Color"
![adv](https://user-images.githubusercontent.com/85278280/170429965-c78b8bae-ce42-449f-997b-424966132500.png)

in above screenshot ... the placeholder is not visible clearly.. how can i change its color

[2022-06-01 13:24] manuelsteiner opened #83 "Reset selected index to 0 when filtering search"
Hi,

would it make sense to reset the selected index in the js file to `0` after searching for a command or dependency?

**Scenario**
A user starts typing and, scrolls up and down in provided list and then continues typing to narrow the search.

**Outcome**
In case the selected index is now out of bounds of the search result list, nothing is highlighted and you need to hit up to reach a selected i

[2022-06-01 13:46] manuelsteiner opened #84 "Config option for debounce (maybe even debounce on based on expected search time)"
Hi,

after finding issue #40, I am wondering if it is a good idea to offer debouncing via an option in the configuration file or maybe even on a more fine grained basis based on dependency searches. It might make sense to distinguish between different actions in terms of expected finish time of searches.

**Scenario**
Consider the normal spotlight command search that filters the available commands

[2022-06-04 20:25] #62 closed

[2022-06-04 20:32] PhiloNL commented on #58
I don't see any way of doing this at the moment but feel free to suggest a PR.

[2022-06-04 20:32] #58 closed

[2022-06-04 20:36] PhiloNL commented on #44
I don't have a solution for this at this time but if you have an idea on how to tackle this feel free to create a PR :)

[2022-06-04 20:36] #44 closed

[2022-06-04 20:39] PhiloNL commented on #60
If you publish the view you can update the [x-model](https://github.com/wire-elements/spotlight/blob/master/resources/views/spotlight.blade.php#L48) binding to include the `.debounce` [modifier](https://alpinejs.dev/directives/model#debounce).

[2022-06-04 20:39] #60 closed

[2022-06-04 20:39] #74 closed

[2022-06-04 20:40] PhiloNL commented on #78
You will have to emit an event and add a listener to the front end to switch between tabs.

[2022-06-04 20:40] #78 closed

[2022-06-04 20:42] PhiloNL commented on #84
Sounds like a good addition. Feel free to submit a PR 😄

[2022-06-04 20:44] PhiloNL commented on #83
That makes sense; I think it's good to reset the selected index to 0. If you want to open a PR, that would be great. Thanks!

[2022-06-04 20:44] #83 closed, assigned to nobody

[2022-06-04 20:44] #75 closed

[2022-06-06 04:42] rudolfbruder commented on #75
Thanks works!

[2022-06-17 23:21] daylightstudio commented on #67
I've run into the same issue. Changing the threshold to something higher like the default .6 fixed my problem albeit requires recompiling the js. Could the [threshold](https://fusejs.io/api/options.html) just be set to 1.0 since the results should be dictated on the PHP side?

[2022-08-01 16:51] HelgeSverre opened #88 "Wrong path provided as alternative for "include_js" - comment and README"
Path should be
[code]
 instead of
[code]

[2022-08-07 14:54] damms005 opened #89 "Missing documentation: Fuse.js"
In README.md under **How to define search synonyms**, I believe it should be explicitly made clear the effect of the `filteredItems()` function using [Fuse JS](https://fusejs.io), to the end that the result returned from the Spotlight command on the backend may not be shown/displayed on the frontend because it is [filtered out](https://github.com/wire-elements/spotlight/blob/48d7833c4e2a79ea81e799

[2022-08-09 14:03] bee-interactive opened #91 "Strange behavior with Laravel Scout and Algolia"
``Hi!

I have a project that can search through a list of products. For better search result, I have connected my model with Laravel Scout and Algolia.

When I search within my controller with some specific keywords, I get 9 results.

But when I search within the spotlight component, I only get 1 result..

Here's my function in my spotlight component:

[code]

It doesn't seem wrong to me.. Am I mi

[2022-08-09 15:09] DanDvoracek commented on #91
Same issue here, using a different syntax:

[code]

I have multiple products with `Zown` in the name. Yet only one gets shown in Spotlight results.

Note that products can have dots in the name and infos like `175.3 x 29.2 x h. 46.4cm`.

Any idea why I would get less results than available ?

[2022-08-12 13:42] abr4xas opened #93 "Error with: $dispatch"
I'm following the docs and this:

[code]

it doesn't seem to work.

I have a clean installation of laravel and spotlight.

[2022-08-16 18:52] PhiloNL commented on #91
Spotlight also uses Fuse.js to do additional searching. Maybe this is causing the issue. If you pass additional data as synonyms, this should be resolved, I think:

[code]

[2022-08-21 21:45] bee-interactive commented on #91
@PhiloNL Yess the solution worked!

[2022-08-21 21:45] #91 closed

[2022-10-18 00:48] jplhomer commented on #41
FYI, for future people coming across this:

It happened to me when my model had a custom `getRouteKeyName()` override (in my case, `slug`). Since Livewire tries to assemble arguments based on route binding, and I was returning `id` from the search results, it was throwing a 404 not found.

[2022-11-15 22:40] Restingo opened #97 "Error when using Wire Elements Pro Spotlight demo"
When using the standard spotlight demo from https://wire-elements.dev/docs/getting-started/spotlight-component#start

[code]

I'm getting the following error message:

[code]

[2022-11-15 22:54] Restingo commented on #97
@PhiloNL is this the right place or do you have a support address for pro? Thx.

[2022-11-16 00:20] PhiloNL commented on #97
Hi there! Please send an email to support@wire-elements.dev with your license key and I'll provide you with an discord invite.

[2022-11-16 00:21] #97 closed

[2022-11-25 15:02] syntafin opened #98 "Spotlight doesn't react on click event dispatch"
Good day,

months ago the dispatch event on a button to open spotlight on mobile stopped working, as we are still in early development, it wasn't necessary to fix it. But soon we will go to launch phase.

At the moment the button has a dispatcher in a alpine.js Click event that look like this:

``@click="$dispatch('toggle-spotlight')"``

This way it is described in the docs.
I can't see any log me

[2022-11-28 12:32] PhiloNL commented on #98
Hi there,
`@click` only works on a Alpine scoped element, so you will need to add `x-data` to the button or a parent element.

[2022-11-28 12:32] #98 closed